* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

a {
  color: inherit;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-LightItalic.ttf) format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Isoveka_font/Ubuntu-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

html {
  font-size: 16px;
}

body {
  background-color: #e0e0e0;
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding-top: clamp(80px, 15vh, 120px);

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-menu {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10vh;
  position: fixed;
  top: 2vh;
  left: 2vw;
  right: 2vw;
  padding: 3vmin 2vmin;

  background-color: white;
  border-radius: 5px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  padding-left: 5vmin;
  font-weight: 1000;
}

.menu-navigation {
  display: flex;
  align-items: center;
  gap: clamp(15px, 4vw, 40px);
  padding-right: 5vmin;
}

.container {
  flex: 1;
  margin: 0 auto;
  width: clamp(300px ,75%, 65ch);
}

.main-content {
  height: 100%;
}

.section-description {
  margin-top: clamp(10px, 10vh, 50px);
  height: 100%;
  width: 100%;
}

.description {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: clamp(5px, 2vw, 20px);
  margin-bottom: clamp(7px, 7vw, 30px);
}

.description-image {
  width: clamp(2.5rem, 12vw, 5rem);
  height: clamp(2.5rem, 12vw, 5rem);
  object-fit: contain;
  flex-shrink: 0;
  border: 2px solid black;
  border-radius: 10%;
  padding: 4px;
  margin-right: clamp(5px, 5vw, 80px);
}

.description-text {
  font-size: clamp(1rem, 2.5vw, 2.5rem);
  text-align: left;
}

.footer {
  width: 100%;
  height: clamp(5rem, 15vh, 8rem);
  margin-top: auto;
  flex-shrink: 0;

  background-color: rgb(29, 85, 85);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-link {

}

.footer-link-image {
  width: clamp(2.5rem, 12vw, 5rem);
  height: clamp(2.5rem, 12vw, 5rem);
  object-fit: contain;
  flex-shrink: 0;
}